@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nunito-{
    font-family: "Nunito", sans-serif;
  }

  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align:left;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #slider1 {
    background: url('../public/slide1.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 50px;
  }
  #slider2 {
    background: url('../public/slide1.2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 50px;
  }
  #slider3 {
    background: url('../public/pexels-alleksana-4430897.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding: 50px;
  }
 